{% extends "type_b/layouts/base.html" %} {% load static %} {% block title %} Blank Page
{% endblock title %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %} {% block content %}


<table class="table table-striped custom-table mb-0">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date de connexion</th>
            <th>Date de deconnexion</th>
            <!-- <th>Page</th>   -->
      </tr>
    </thead>
    <tbody>

        {% for x in hystorique %}
        <tr>
                <td>{{x.Nom}}</td>
                <td>{{x.datecon}}</td> 
                <td>{{x.datedecon}}</td> 
                <!-- <td>{{x.url}}</td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
