{% extends "type_a/layouts/base-fullscreen.html" %} {% block title %} Register
{% endblock title %} {% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

    <!-- <form method="POST">
        <div class="form-group  ">
         {% csrf_token %}
         {{form}}
        <button type="submit" class="btn btn-primary">Send email</button>
        </div>
    </form> -->
   
    <div class="card-body">
      <h3 class="fw-300 c-grey-900 mB-10 mT-0">
        <center>-  Rentiilisation du mot de Passe</center>
      </h3>
    
      {% if msg %}
      <h4 class="fw-300 c-grey-900 mB-40">{{ msg | safe }}</h4>
      {% else %} {% endif %}
    
      <form  method="POST"  ">
      {% csrf_token %}

        <div class="basic-form">
          <div class="row">

            <div class="col-sm-6 mt-2 mt-sm-0">
              <div class="card-header">
                <h4 class="card-title">- Rentiilisation du mot de Passe</h4>
                {{form}}
              </div>
              <br />
    
              <div class="form-group">
                <button type="submit" name="register" class="btn btn-primary">
                  envoyer a email
                </button>
    
                &nbsp; &nbsp;
                <span class="text-small font-weight-semibold">avez-vous un compte?</span>
                <a href="{% url 'login' %}" class="text-black text-small">Connexion</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
{% endblock content %}