{% extends "type_a/layouts/base-fullscreen.html" %} {% block title %} Register
{% endblock title %} {% block stylesheets %}{% endblock stylesheets %} 
{% block content %}

<div class="container">



{% if validlink %}

<h1>Nouveau mot de pass</h1>
    <form method="POST">
        <div class="form-group  ">
         {% csrf_token %}
         {{form}} 
        <button type="submit" class="btn btn-primary">  Changer </button>
        </div>
         
        
    </form>
</div>

{% else %}

Expire Link

{% endif %}
 
{% endblock content %}