{% extends "type_c/layouts/base.html" %} {% load static %} {% block title %} Blank Page
{% endblock title %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- (Almost) A blank page -->
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
  
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
