{% extends "user_soc/layouts/base.html" %} {% load static %} {% block title %} Blank Page
{% endblock title %} {% include 'includes/navigation.html' %}

<!-- Specific Page JS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<center><h3>Description : {{nt.description}}</h3></center>
<div class="card">
 <div class="page-wrapper">
      <div class="content container-fluid">
        <section class="container mt-5">{% for x in dem %}
        <div class="row gallery">
        <div class="col-lg-6 col-md-4 col-xs-6 thumb">
          <span><h3>Photo du passeport</h3></span>
        <a href="{{x.expose.url}}">
        <figure><img class="img-fluid img-thumbnail" src="{{x.expose.url}}" alt="Random Image"></figure>
        </a>
        </div>
        <div class="col-lg-6 col-md-4 col-xs-6 thumb">
          <span><h3>Image</h3></span>
          <a href="{{x.photo.url}}">
          <figure><img class="img-fluid img-thumbnail" src="{{x.photo.url}}" alt="Random Image"></figure>
          </a>
          </div>
        </div>
        </section>
        {% endfor %}
        </div>
      </div>
    </div>
      <table class="table table-striped mb-0 m-5">
        {% for x in dem %}
        <thead>
          <tr>
            <th>Type de demande</th>
            <th>Denomination</th>
            <th>Siege</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{x.TypeDemande}}</td>
            <td>{{x.denomination}}</td>
            <td>{{x.siege}}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Numero NNI</th>
            <th>Nom et Prenom</th>
            <th>Numero du passeport</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{x.numIMM}}</td>
            <td>{{x.nomPrenom}}</td>
             <td>{{x.numPass}}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Date d'expiration</th>
            <th>G-mail</th>
            <th>Numero du telephone</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{x.dateExpPass}}</td>
            <td>{{x.email}}</td>
            <td>{{x.numTel}}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Date de naissance</th>
            <th>Description du poste</th>
            <th>Type de permis</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{x.dateNaissance}}</td>
            <td>{{x.descPoste}}</td>
            <td>{{x.TypePermis}}</td>
          </tr>
        </tbody>
      </table>
    </div>
     {% endfor %}
</div>					
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
