
  <!-- ### $App Screen Footer ### -->
  <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
    <span>2022
      &copy; PERMIS ,  
       {% comment %}<a target="_blank" rel="noopener noreferrer" 
         href="https://appseed.us/admin-dashboards/django-dashboard-adminator">{% endcomment %}Tous les droits sont réservés
       - codé par <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/profile.php?id=100010541981517&_rdc=1&_rdr">Ahmedou</a>.  
      {% comment %} <a href="mailto:ahmedou017795@gmail.com">Ahmedou</a> 
      <a href="mailto:ahmedou017795@gmail.com?subject=HTML link">Cliquez ici pour nous envoyer un e-mail !</a>{% endcomment %}
    </span>
  </footer>
